* {
  box-sizing: border-box;
}
body {
  color: #333333;
  margin: 0;
}
/* Шапка сайта */
.header {
  width: 100%;
  padding: 40px 165px;
}
.header-container {
  max-width: 1060px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.account {
  display: block;
  display: flex;
  align-items: center;
}
.user-photo {
  margin-right: 18px;
}
.logo {
  height: 24px;
  width: 177px;
}
input {
  width: 285px;
  height: 40px;
  background: #f5fafe;
  border-color: transparent;
  border-radius: 6px 0px 0px 6px;
  outline: none;
  padding-top: 12px;
  padding-left: 23px;
  padding-bottom: 12px;
  font-size: 12px;
}
.button-search {
  background: #ec1f46;
  border-radius: 0px 6px 6px 0px;
  width: 65px;
  height: 40px;
  position: absolute;
  border-color: transparent;
}
.nav {
  padding: 31px 164px;
  background: #0a223d;
}
.navigation-container {
  max-width: 1060px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.nav-link {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
.hero {
  background: #f5fafe;
}
.hero-container {
  max-width: 1060px;
  margin: auto;
}
.history {
  padding-bottom: 18px;
  padding-top: 18px;
  font-size: 10px;
}
.information-block {
  display: flex;
  align-items: center;
}
.hotel-info {
  position: relative;
}
.hotel-lvl {
  padding-top: 24px;
  padding-bottom: 0px;
}
.hotel-name {
  font-size: 24px;
  text-transform: uppercase;
  display: block;
  padding-right: 14px;
}
.flash-offer {
  background: #ec1f46;
  border-radius: 3px;
  width: 70px;
  height: 20px;
  color: #ffffff;
  font-size: 10px;
  padding: 3px 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.information {
  padding-bottom: 20px;
  font-size: 12px;
}
.user-rattings {
  background: #ec1f46;
  border-radius: 4px;
  width: 65px;
  height: 45px;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 28px;
  right: 0;
}
.ratting {
  font-size: 8px;
  padding-top: 9px;
}
.procent {
  font-size: 14px;
  padding-top: 2px;
}
